*.drawio.bkp

# Ignore Kotlin plugin data
.kotlin

# =========================================================================
# IntelliJ IDEA
# =========================================================================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================================================================
# Java & Build Tools
# =========================================================================
# Compiled Java class files
*.class

# Log files
*.log

# Package Files (Optional: keep if you don't commit dependencies)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz

# Maven build outputs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle build outputs
.gradle/
build/
!gradle-wrapper.jar

# =========================================================================
# Operating System Files
# =========================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

